.logo{
    width: 50px;
    border-radius: 100px;
 }

 #footer{
    background-color:rgb(189, 189, 189) ;
 }

 .mt-0{
    margin: 100px;
 }
 
 .imgtam{
    width: 100%;
    height: 600px;
 }

 .img-2{
    height: 300px;
    width: 300px;
 }